menuconfig PJON
	bool "PJON communication protocol"
	help
	  Enable the PJON protocol

if PJON
menu "PJON strategy"

menuconfig PJON_STRATEGY_DUALUDP
    select NETWORKING
	select NET_IPV4
	select NET_UDP
	select NET_SOCKETS
	bool "PJON strategy	DualUDP"

if PJON_STRATEGY_DUALUDP



config DUDP_RESPONSE_TIMEOUT
    int "DUDP_RESPONSE_TIMEOUT"
    default 50000
    help
      Timeout waiting for an ACK. This can be increased if the latency is high


config DUDP_MINIMUM_SEND_INTERVAL_MS
    int "DUDP_MINIMUM_SEND_INTERVAL_MS"
    default 8
    help
      Minimum time interval in ms between send attempts. Some devices go into
      contention if sending too fast. This can be overridden in an interface
      for a device type, or in user sketches.

config DUDP_MAX_RETRIES
    int "DUDP_MAX_RETRIES"
    default 10
    help
      Max number of retries


config DUDP_MAX_REMOTE_NODES
    int "DUDP_MAX_REMOTE_NODES"
    default 10
    help
      The size of the node table


config DUDP_MAX_FAILURES
    int "DUDP_MAX_FAILURES"
    default 10
    help
      Remove automatically registered nodes after this number of send failures

endif


menuconfig PJON_STRATEGY_THROUGHSERIAL
	select RING_BUFFER
	select SERIAL
	select UART_INTERRUPT_DRIVEN
	bool "PJON strategy	Through	Serial"

if PJON_STRATEGY_THROUGHSERIAL

config TS_INITIAL_DELAY
	int "INITIAL DELAY"
	default 1000
	help
	  Maximum 1 second random initial delay


config TS_COLLISION_DELAY
	int "COLLISION DELAY"
	default 32
	help
	  Maximum 32 microseconds random delay in case of collision


config TS_RESONSE_TIME_OUT
	int "RESONSE TIME OUT"
	default 10000
	help
	  Set 10 milliseconds as the maximum timeframe between transmission and
	  synchronous acknowledgement response. This value is strictly related to the
	  maximum time needed by receiver to receive, compute and transmit a response.
	  Higher if necessary.


config TS_TIME_IN
	int "TIME IN"
	default 100032
	help
	  Minum timeframe with channel free for use before transmission.
	  (Avoid disrupting synchronous acknowledgement exchange)


config TS_BYTE_TIME_OUT
	int "BYTE TIME OUT"
	default 50000
	help
	  Set 50 milliseconds as the maximum timeframe for byte reception.
	  This value depends on the latency, baud rate and computation time.
	  Always set TS_BYTE_TIME_OUT > (byte transmission time + latency)


config TS_MAX_ATTEMTS
	int "MAX ATTEMTS"
	default 20
	help
	Maximum transmission attempts


config TS_BACK_OFF_DEGREE
	int "BACK OFF DEGREE"
	default 4
	help
	  Back-off exponential degree


config TS_RS485_DELAY
	int "RS485 DELAY"
	default 1
	help
	  Delay before enabling and disabling RS485 DE and or RE pin


config TS_FLUSH_OFFSET
	int "FLUSH OFFSET"
	default 152
	help
	  Force blocking sending hack (adds a delay for each character sent).
endif

endmenu

config PJON_DEVICE_ID
	int	"PJON Device ID"
	default	0
	help
	  PJON Device ID

config PJON_MTU
	int	"PJON MTU"
	default	1400
	help
	  Maximum size of SMP frames send and receive over PJON	DualUDP, in	bytes.

config PJON_MAX_PACKETS
	int "PJON MAX PACKETS"
	default 5
    help
	  Packet buffer length, if full PJON_PACKETS_BUFFER_FULL error is thrown.
	  The packet buffer is preallocated, so its length strongly affects
	  memory consumption

config PJON_PACKET_MAX_LENGTH
    int "MAX PACKET LENGTH"
    default 50
    help
	  Max packet length, higher if necessary.
	  The max packet length defines the length of packets pre-allocated buffers
	  so it strongly affects memory consumption.

config PJON_INCLUDE_ASYNC_ACK
    bool "INCLUDE ASYNC ACK"
    default false
    help
	  If set to false async ack feature is not included saving memory
	  (it saves around 1kB of memory)

config PJON_INCLUDE_PACKET_ID
    bool "INCLUDE PACKET ID"
    default false
    help
	  If set to false packet id feature is not included saving memory
	  (it saves around 1kB of memory)

config PJON_MAX_RECENT_PACKET_IDS
    int "MAX RECENT PACKET IDS"
    default 10
    help
	  Maximum packet ids record kept in memory (to avoid duplicated exchanges)

config APP_LINK_WITH_PJON
	bool "Link 'app' with PJON"
	default y
	help
	  Add PJON configuration to the 'app'

endif
